<nav class="bg-dark p-4 text-center">
    <a class="text-white text-decoration-none me-5" href="/">Home</a>
    <a class="text-white text-decoration-none me-5" href="/library">Library</a>
    <a class="text-white text-decoration-none me-5" href="/about">About</a>
</nav>