<%- include('partials/header') %> 
<%- include('partials/nav') %> 
<div class="container mt-5">
    <div class="jumbotron text-center bg-white">
      <h1 class="display-4">About</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, quia corrupti nesciunt sequi similique accusantium quis assumenda dolor necessitatibus illum voluptas numquam tempora recusandae soluta accusamus voluptatibus tempore eos? Itaque!</p>
    </div>

    <!-- Credits Section -->
    <div class="text-center mt-5">
      <p class="text-bold ">Designed and Developed by Abhay Agnihotri</p>
    </div>
  </div>
<%- include('partials/footer') %> 
