<link rel='stylesheet' href='/stylesheets/style.css' />
<%- include('partials/header') %> 
<%- include('partials/nav') %> 
<div class="container mt-5">
    <div class="jumbotron text-center">
      <h1 class="display-4">Welcome to Book Store</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, quia corrupti nesciunt sequi similique accusantium quis assumenda dolor necessitatibus illum voluptas numquam tempora recusandae soluta accusamus voluptatibus tempore eos? Itaque!</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Explore More</a>
    </div>
  </div>
<%- include('partials/footer') %> 
