* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
/* This will apply to all textareas with the id 'bookDescription' */
#bookDescription {
    height: 6vw;
    resize: none;
  }
  
  